<?xml version="1.0"?>
<ruleset name="Coding Standards">

	<arg value="n"/>
	<arg name="colors"/>

	<exclude-pattern>*/tests/**</exclude-pattern>
	<exclude-pattern>*/vendor/*</exclude-pattern>
	<exclude-pattern>*/node_modules/*</exclude-pattern>

	<config name="testVersion" value="5.6-7.1" />
	<rule ref="PHPCompatibility" />

	<rule ref="PSR1" />
	<rule ref="PSR2" />
</ruleset>
